<script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/selectize.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="/assets/js/jQuery.equalHeights.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.vanillabox-0.1.5.min.js"></script>
<script type="text/javascript" src="/assets/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/assets/js/retina-1.1.0.min.js"></script>


<script type="text/javascript" src="/assets/js/custom.js"></script>
<script type="text/javascript" src="/assets/js/course.js"></script>
<script type="text/javascript" src="/assets/js/dropdown-for-course.js"></script>
<!-- <script type="text/javascript" src="/assets/js/dropdown-for-course1.js"></script> -->
